.App {
  font-family: sans-serif;
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.image {
  height: 100px;
}

.pagination {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
}

.pagination-btn {
  width: 30px;
  height: 30px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.active-page {
  background-color: aquamarine;
}

.dots {
  margin: 3px;
  text-align: end;
}
